<div class="main">
    <div class="toolbar">
        <div class="content">
          <div style="display: flex; align-items: flex-end; flex-direction: row; gap:5px;">
            <label class="label-wrapper">
              <span>Datei auswählen</span>
              <input type="file" (change)="onFilesSelected($event)" multiple>
            </label>
          </div>
        </div>
        <div class="content">
        </div>
        <div class="content">
            <button mat-raised-button color="primary" (click)="startHistoryCreation()">Create History</button>
            <button mat-raised-button color="primary" *ngIf="getHistoryState()">Save History</button>
        </div>
    </div>
    <div class="mainContent">
      <mat-progress-bar
          color="accent"
          [mode]="'buffer'"
          [value]="getProgressbarState()"
          [bufferValue]="100">
      </mat-progress-bar>
      <!--<div class="chipContainer">
        <mat-chip-row *ngFor="let file of getFileNames()">
          {{file}}
          <button matChipRemove [attr.aria-label]="'remove ' + fruit.name">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      </div>-->
      <div class="consoleContainer">
        <ng-container *ngFor="let i of getWebConsole()">
          <p>{{i}}</p>
        </ng-container>
      </div>
    </div>
</div>
