.example-container {
    width: 100vw;
    height: 100vh;
  }
  
  mat-drawer-content {
    width: auto;
    height: 100vh;

    .router {
      width: auto;
      height: calc(100vh - 64px);
      overflow-y: auto;
    }

    .example-spacer {
      flex: 1 1 auto;
    }
}