<mat-drawer-container class="example-container" [hasBackdrop]="false">
  <mat-drawer #drawer [mode]="'side'"  color="md-gray-900">
    <button mat-button routerLink="" color ="accent">New File</button>
    <button mat-button color="accent">Analize</button>
    <button mat-button color="accent">Dashbord</button>
    <button mat-button color="accent">Insights</button>
    <button mat-button routerLink="initialiaze" color="accent">Initialiaze</button>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>OLiMP</span>
      <span style="margin-left: 10px; font-size: 17px; color:rgb(223, 223, 223);">{{ currentPageName }}</span> <!-- Display the current page name here -->
      <mat-spinner *ngIf="getStatus() > 0" color="accent" style="height: 50%;"></mat-spinner>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>settings</mat-icon>
      </button>
    </mat-toolbar>
    <div class="router">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>