<div class="main">
  <div class="toolbar">
    <div class="content">
      <label class="label-wrapper">
        <span>Datei auswählen</span>
        <input type="file" (change)="onFileChange($event)" />
      </label>
      <mat-spinner *ngIf="dataLoading" style="height: auto;"></mat-spinner>
    </div>
    <div class="content">
      <input (keyup)="applyFilter($event)" placeholder="search">
    </div>
    <div class="content" id="last">
      <h2 style="color:white; margin:0;">{{filterValue}}</h2>
      <button mat-fab color="primary" [matMenuTriggerFor]="menu">
        <mat-icon>filter_list</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before" color="primary">
        <button mat-menu-item *ngFor="let country of uniqueCountries" (click)="setFilterValue($event, country)">
          {{ country }}
        </button>
        <button mat-menu-item (click)="setFilterValue($event, '')">
          None
        </button>
      </mat-menu>
    </div>
  </div>
  <div class="tableContainer">
    <table *ngIf="!dataLoading" class="table">
      <thead>
        <tr>
          <th *ngFor="let column of displayedColumns">{{ column }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of filteredDataSource">
          <td *ngFor="let column of displayedColumns">
            <span [ngClass]="{'highlighted': isValuePresent(searchValue, item[column])}">
              {{ item[column] }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>  
</div>
