@use '@angular/material' as mat;

@include mat.core();

$md-primary: (
  50: #e0e7f0,
  100: #b3c8de,
  200: #80a8cc,
  300: #4d88ba,
  400: #2678ad,
  500: #00689f,
  600: #006197,
  700: #00568d,
  800: #004c83,
  900: #17293b,
  A100: #ffffff,
  A200: #ffffff,
  A400: #bfd8e6,
  A700: #8fbfda,
  contrast: (
  50: #000000,
  100: #000000,
  200: #000000,
  300: #000000,
  400: #000000,
  500: #ffffff,
  600: #ffffff,
  700: #ffffff,
  800: #ffffff,
  900: #ffffff,
  A100: #000000,
  A200: #000000,
  A400: #000000,
  A700: #000000,
  ),
);

$md-accent: (
  50: #cce4ff,
  100: #99c9ff,
  200: #66adff,
  300: #3391ff,
  400: #0076ff,
  500: #005ce6,
  600: #0054cc,
  700: #004ab3,
  800: #004099,
  900: #003680,
  A100: #ffffff,
  A200: #e6f2ff,
  A400: #99ccff,
  A700: #80bfff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-alternative: (
  50: #f2f5ff,
  100: #d9e1ff,
  200: #bfcfff,
  300: #a5bcff,
  400: #8ca9ff,
  500: #7296ff,
  600: #6990ff,
  700: #5f89ff,
  800: #5683ff,
  900: #4476ff,
  A100: #ffffff,
  A200: #f9fdff,
  A400: #c5daff,
  A700: #acbfff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-warn: (
  50: #ffefe0,
  100: #ffd9c2,
  200: #ffbea2,
  300: #ffa382,
  400: #ff8d6b,
  500: #ff7952,
  600: #ff714b,
  700: #ff6842,
  800: #ff5f3a,
  900: #ff4e2a,
  A100: #ffffff,
  A200: #fff5ed,
  A400: #ffc2b5,
  A700: #ffad98,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-error: (
  50: #ffe6e6,
  100: #ffc2c2,
  200: #ff9b9b,
  300: #ff7373,
  400: #ff5252,
  500: #ff2d2d,
  600: #ff2626,
  700: #ff1e1e,
  800: #ff1717,
  900: #ff0b0b,
  A100: #ffffff,
  A200: #ffe0e0,
  A400: #ffadad,
  A700: #ff9494,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-gray: (
  50: #f5f5f5,
  100: #e8e8e8,
  200: #dcdcdc,
  300: #d0d0d0,
  400: #c4c4c4,
  500: #b8b8b8,
  600: #acacac,
  700: #9f9f9f,
  800: #939393,
  900: #878787,
  A100: #ffffff,
  A200: #ffffff,
  A400: #e8e8e8,
  A700: #d0d0d0,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$my-primary: mat.define-palette($md-primary, 900);
$my-accent: mat.define-palette($md-accent, A200, A100, A400);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette($md-error);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
  )
);

@include mat.all-component-themes($my-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
