.main {
    width: auto;
    height: calc(100vh - 64px);
    background-color: #325881;

    .toolbar {
        width: auto;
        height: auto;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #24405d;

        .content {
            min-width: 350px;
            display: flex;
            justify-content: center;
            align-items: center;
      
            .spinner {
              height: 10px;
              width: auto;
            }
        }
    }
}